@include aoa-bg-series($bg__init,$classes_init);

.about{
    &-s3{
        background-color: #999!important;
        background-blend-mode: multiply!important;
    }
}

.package{
    &-s4{
        *{
            color: #fff !important;
            text-shadow: $text__shadow;
        }
        background-color: #666!important;
        background-blend-mode: multiply!important;
    }
}

.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}

nav{
    z-index: 10;
}

textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .about,.gallery{
        &-s1,&-s2{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
        }
    }
    .contact,.index{
        &-s1{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
        }
    }
    .navbar{
        &-nav{
            *{
                &:hover{
                    opacity:0.8;
                }
                color: #fff !important;
            }
            background-color: #666!important;
            border: 1px solid #333;
            opacity: 0.9;
        }
    }
    .package{
        &-s1,&-s2,&-s3{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
        }
    }
}